[submodule "glsl-parser"]
	path = glsl-parser
	url = https://github.com/nnesse/glsl-parser.git
	branch = master

[submodule "lick"]
	path = lick
	url = https://github.com/JasonL9000/lick.git
	branch = master
