$page-width: 1200px;

.ContentWrapper {
  width: $page-width;
  padding: 20px 0;
  margin: 0px auto;
}

.HeaderWrapper {
  width: $page-width;
  margin: 0px auto;
  padding: 15px;
  box-sizing: border-box;
  height: 100%;
}

.HeaderLink {
  display: inline-block;
  margin: 8px;
}

.FillPanelContent {
  padding: 0;
}